<nav class="pagination" role="navigation">
    <div class="sez-right">
        <a href="#" {{#if next}} data-paginationurl='{{page_url next}}' data-pageCount='{{pages}}'{{/if}} class="load-more-post">Load more posts</a>
    </div>
</nav>