<a class="ico-w-facebook" href="#" alt="facebook"></a>
<a class="ico-w-twitter" href="#"  alt="twitter"></a>
<a class="ico-w-instagram" href="#" alt="instagram"></a>
<a class="ico-w-gplus" href="#" alt="google+"></a>
<a class="ico-w-linkedin" href="#" alt="linkedin"></a>
<a class="ico-w-youtube" href="#" alt="youtube"></a>
<a class="ico-w-pinterest" href="#" alt="pinterest"></a>
<a class="ico-w-behance" href="#" alt="behance"></a>
<a class="ico-w-dribbble" href="#" alt="dribbble"></a>
<a class="ico-w-flickr" href="#" alt="flickr"></a>
<a class="ico-w-github" href="#" alt="github"></a>