h1, h2, h3,
h4, h5, h6 {
    font-family: 'Merriweather', serif;
    text-transform: none;
    font-weight:600;
}

.sez-right-post, .sez-right-line {
	padding-top: 5px;
}

/* Post data */
.date-post {
    font-family: 'Merriweather', serif;
    font-weight:400;
}
